PORT=8084

# Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=credit_management
DB_SSLMODE=disable

# Options config file path
OPTIONS_CONFIG_PATH=config/options.json

