PORT=8083

# Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=credit_management
DB_SSLMODE=disable

# Activity options config
ACTIVITY_OPTIONS_CONFIG_PATH=config/activity_options.json

